# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
/.idea

# env file
# Attention! It is bad practice!
# It is mandatory to add `.env` with secret variables in `.gitignore`.
# But it is presentation project and in order to save time
# (because for other people who will see this project and they will launch it
# so they will need to create this file and add variables)
# I have decided to save this file in the project and to set secret variables with default values.
# .env

# csv:s
/public/upload/csv
